@import "reset";
@import "fonts";
@import "mixin";
@import "variables";

body {
	color: #2e2e2e;
	font-family: 'opensans';
	font-weight: lighter;
}
img {
	max-width: 100%;
}
#gif {
	width: 10%;
}
#lmore {
	width: 100%;
	text-align: center;
}
#more {
	background-color: red;
	padding: 10px;
	color: white;
	font-weight: bold;
}
#ajax {
	width: 100%;
	text-align: center;
}
#logo img {
	width: 40%;
}
#logo {
	text-align: center;
}
.pattern {
	background-image: url('../assets/images/pattern.png');
	text-align: center;
}
#icon img {
	width: 20%;
	height: auto;
	padding-top: 25px;
	padding-bottom: 20px;
}
.tag-list {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.tag-list li {
	display: flex;
	width: 90%;
	margin: 5px auto;
	border: 1px solid #c2c2c2;
}
.container {
	display: flex;
	width: 100%;
	height: 30%;
	margin: 0 auto;
	overflow: auto;

}
.item1 {
	text-align: left;
	width: 30%;
	margin: 0 5px;
}
.item2 {
	font-size: .9rem;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px		;
}
.item2 li {
	border: none;
	font-family: 'opensans';
	font-weight: bold;
    display: flex;
	justify-content: flex-end;
	width: 100%;
    margin: 0;
}
.ico {
	display: flex;
	flex-direction: row;
}
#pic {
	width: 100%;
	height: 70%;
}
#pic img {
	width: 100%;
	height: 70%;
}
.rounded {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.tag-search {
	display: flex;
	align-items: center;
	justify-content:center;
	padding-bottom: 50px;
}
.tag-list .try-again{
	border: none;
	font-family: 'opensans';
	font-weight: bold;
	font-size: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 25px;
}
.not-found {
	font-family: 'opensans';
	font-weight: bold;
	font-size: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 25px;
}
body {

	@include bp(tablet) {
		img {
			max-width: 100%;
		}
		.pattern {
			width: 100%;
		}
		.grid {
			margin: 0 auto;
			border: 3px solid #c2c2c2;
		}
		.try-again {
			margin: 0;
		}
		#logo {
			text-align: left;
		}
		.tag-list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			width: 100vw;
			
		}
		.tag-list li {
			display: flex;
			width: 30%;
			flex-direction: row;
			margin: 5px auto;
		}
		.container {
			display: flex;
			width: 100%;
			height: 30%;
			margin: 0 auto;
			overflow: auto;

		}
		.item1 {
			text-align: left;
			width: 30%;
			margin: 0 5px;
		}
		.item2 {
			font-size: .9rem;
			width: 70%;
			display: flex;
			justify-content: flex-start;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.item2 li {
			font-family: 'opensans';
			font-weight: bold;
			display: flex;
			justify-content: flex-end;
			width: 100%;
			margin: 0;
		}
		.ico {
			display: flex;
			flex-direction: row;
		}
		#pic {
			width: 100%;
			height: 70%;
		}
		#pic img {
			width: 100%;
			height: 70%;
		}
	}
	@include bp(desktop) {

		.grid {
			margin: 0 auto;
			border: 3px solid #c2c2c2;
		}
		#logo {
			margin: 10px;
		}
        .try-again {
        	margin: 0;
        }
		.tag-list {
			display: flex;
			flex-direction: row;
			width: 100vw;
			flex-wrap: wrap;
			overflow: auto;

		}
		.tag-list li {
			width: 22%;
			display: flex;
			flex-direction: row;
		}
		.tag-list li img {
			width: 100%;
			height: 100%;
		}
		
		.container {
			display: flex;
			width: 100%;
			height: 30%;
			margin: 0 auto;
			overflow: auto;

		}
		.item1 {
			text-align: left;
			width: 30%;
			margin: 0 5px;
		}
		.item2 {
			font-size: .9rem;
			width: 70%;
			display: flex;
			justify-content: flex-start;
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.item2 li {
			font-family: 'opensans';
			font-weight: bold;
			display: flex;
			justify-content: flex-end;
			width: 100%;
			margin: 0;
		}
		.ico {
			display: flex;
			flex-direction: row;
		}
		#pic {
			width: 100%;
			height: 70%;
		}
		#pic img {
			width: 100%;
			height: 60%;
		}
	}

}